.footer {
  margin-top: 2em;
  margin-bottom: 0.5em;
  background-color: black;
  padding: 0.5em;
  color: white; 
  text-align: center;
} 

.has-tip {
  font-weight:300;
  border-bottom: none;
  cursor: pointer;
  color: darken(white, 20%);
  &:hover {
    color: white;
  }
} 
