<footer>
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-10  medium-offset-1 footer cell">
      <div class="grid-x grid-margin-x">
        <div class="small-12 medium-6 large-6 cell">
          Created by
          <a href="https://github.com/josefzacek">
            <span 
             data-tooltip 
             aria-haspopup="true" 
             class="has-tip top" 
             data-disable-hover="false" 
             tabindex="2" 
             title=" {{ jzgit }}">
              JZ
            </span>
          </a>
          &amp; 
          <a href="https://github.com/tomGdow">
            <span 
             data-tooltip 
             aria-haspopup="true" 
             class="has-tip top" 
             data-disable-hover="false" 
             tabindex="2" 
             title="{{ tomgdowgit }} ">
              tomgdow
            </span>
          </a> 
        </div>
        <div class="small-12  medium-6 large-6 cell">
          Last updated 21-Sept-2017  
        </div>
      </div>
    </div>
  </div>
</footer>
