.menu .menu-text {
  padding: 0;
}

#navpic {
  display: none
} 


@media screen and (min-width: 40em) {
  /* Medium and up */
  #navpic {
    display:inline;
  }

  .top-bar {
    background-color: white;
  }
}




