<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-10  medium-offset-1  cell">

      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">

              <img src="{{bonnie}}" alt="Picture of cat">

            </li>
            <li>
              <a href="#">Basics</a>
              <ul class="menu vertical">
                <li><a href="#myanchor">1 Mixins</a></li>
                <li><a href="#">Functions</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
      </div>
    </div> <!--end-cell-->
  </div> <!--end grid-x-->
</div> <!--end grid-container-->

