<div class="grid-container" id ="navbar">
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-10  medium-offset-1  cell">

      <div 
         class="title-bar" 
         data-responsive-toggle="example-menu" 
         data-hide-for="medium" >
         <button 
         class="menu-icon" 
         type="button" 
         data-toggle="example-menu">
         </button>
        <div class="title-bar-title">Menu</div>
        <span class="title-bar-right">
          <a href="https://github.com/tomGdow">
            <span 
             data-tooltip 
             aria-haspopup="true" 
             class="has-tip top" 
             data-disable-hover="false" 
             tabindex="2" 
             title="{{ tomgdowgit }}">
              <img src="{{gravatar}}" alt="Gravatar picture">
            </span>
          </a>
        </span>
      </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <a id="navpic" href="https://github.com/tomGdow">
                <span 
                             data-tooltip 
                             aria-haspopup="true" 
                             class="has-tip top" 
                             data-disable-hover="false" 
                             tabindex="2" 
                             title="{{ tomgdowgit }}">
                  <img  src="{{gravatar}}" alt="Gravatar picture">
                </span>
              </a>

            </li>
            <li>
              <a href="#">Basics</a>
              <ul class="menu vertical">
                <li><a href="#part1">1 Mixins</a></li>
                <li><a href="#part2">2 Functions</a></li>
                <li><a href="#part3">3 Variables</a></li>
                <li><a href="#part4">4 Nesting</a></li>
                <li><a href="#part5">5 Partials</a></li>
                <li><a href="#part6">6 Extend</a></li>
                <li><a href="#part7">7 Ampersand</a></li>
                <li><a href="#part8">8 Comments</a></li>
                <li><a href="#part9">9 Watch for Changes</a></li>
                <li><a href="#part10">10 Sass Libraries</a></li>
                <li><a href="#part11">11 Sassmeister</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Part 2</a>
              <ul class="menu vertical">
                <li><a href="#part12">12 Watch Extras </a></li>
                <li><a href="#part13">13 Built-ins</a></li>
                <li><a href="#part14">14 If Else</a></li>
                <li><a href="#part15">15 Interpolation</a></li>
                <li><a href="#part16">16 For Loop</a></li>
                <li><a href="#part17">17 Each Loop</a></li>
                <li><a href="#part18">18 Optional Args</a></li>
                <li><a href="#part19">19 Warnings</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Part 3</a>
              <ul class="menu vertical">
                <li><a href="#part20">20 List Maps </a></li>
                <li><a href="#part21">21 Pass Code Block</a></li>
                <li><a href="#part22">22 Scoping</a></li>
                <li><a href="#part23">23 Introspection</a></li>
                <li><a href="#part24">24 String Functions</a></li>
                <li><a href="#part25">25 Edit in Chrome</a></li>
                <li><a href="#part26">26 Miscellaneous</a></li>
                <li><a href="#part27">27 Links</a></li>
                <li><a href="#part28">28 TOC</a></li>
              </ul>
            </li>
            <li id="menu-toc-left">
              <a href="#toc">
                <span 
                 data-tooltip 
                 aria-haspopup="true" 
                 class="has-tip top" 
                 data-disable-hover="false" 
                 tabindex="2" 
                 title="Table of Contents">
                  TOC
                </span>
              </a>
            </li>
          </ul>
        </div> <!--end-top-bar-left-->
        <div class="top-bar-right">
          <ul class="menu">
            <li id="menu-toc-right">
              <a href="#toc">
                <span 
                 data-tooltip 
                 aria-haspopup="true" 
                 class="has-tip top" 
                 data-disable-hover="false" 
                 tabindex="2" 
                 title="Table of Contents">
                  TOC
                </span>
              </a></li>
          </ul>
        </div>
      </div> <!--end-menu-->
    </div> <!--end-cell-->
  </div> <!--end grid-x-->
</div> <!--end grid-container-->
