.menu .menu-text {
  padding: 0;
}

#navpic {
  display: none
} 

.title-bar-right img {
  border: 2px solid black;

  &:hover {
    border: 2px solid white;
  }
}

.has-tip {
  border-bottom: none;
  cursor: pointer;
  font-weight: 300;
}

#menu-toc-right {
  display: none;
}

@media screen and (min-width: 40em) {
  /* Medium and up */

  #navpic {
    display:inline;
    padding-left: 0;
    img {
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .top-bar {
    background-color: white;
  }

  .top-bar-right {

    border: 1px solid black;
  }

  .menu {
    background-color: black;
    a {
      color: white;
      font-weight: 700;
      &:hover {
        color: darken(white, 20%);
      }
    }
  }

  .is-dropdown-submenu-item a { 
    background-color:#e6e6e6;
    color: #1779ba;
    font-weight: 300;
  }

  .dropdown.menu>li.is-dropdown-submenu-parent > a::after {
    border: none;
  }
  #menu-toc-left {
    display: none;
  } 

  #menu-toc-right {
    display: inline;
  }
}

