<div id ="toc" class="grid-x">
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-2">
    <a href="#part1">1 Mixins</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part2">2 Functions</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part3">3 Variables</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part4">4 Nesting</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-2">
    <a href="#part5">5 Partials </a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part1">6 Extends</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part7">7 Ampersand</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part8">8 Comments</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-2">
    <a href="#part9">9 Watch (1)</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part10">10 Sass Libraries</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part11">11 Sassmeister</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part12">12 Watch (2)</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-2">
    <a href="#part13">13 Built-ins</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part14">14 If Else</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part15">15 Interpolation</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part16">16 For Loop</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-2">
    <a href="#part17">17 Each Loop</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part18">18 Optional Arguments</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part19">19 Warnings</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part20">20 List Maps</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-2">
    <a href="#part21">21 Code Blocks</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-0">
    <a href="#part22">22 Scoping</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part23">23 Introspection</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part24">24 String Functions</a>
  </div>
  <div class="small-6 medium-3 medium-offset-2 large-2 large-offset-2">
    <a href="#part25">25 Edit in Chrome</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part26">26 Miscellaneous</a>
  </div>
  <div class="small-6 medium-3 medium-offset-0 large-2 large-offset-0">
    <a href="#part27">26 Site Info</a>
  </div>
</div>
